<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">

    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>

                <file>./app/Console/Kernel.php</file>

                <file>./app/Exceptions/Handler.php</file>

                <file>./app/Http/Kernel.php</file>
                <file>./app/Http/Controllers/Controller.php</file>

                <file>./app/Providers/AppServiceProvider.php</file>
                <file>./app/Providers/AuthServiceProvider.php</file>
                <file>./app/Providers/BroadcastServiceProvider.php</file>
                <file>./app/Providers/EventServiceProvider.php</file>
                <file>./app/Providers/RouteServiceProvider.php</file>

                <directory>./app/Http/Controllers/Auth</directory>
                <directory>./app/Http/Middleware</directory>

            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="reports" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-html" target="reports/testdox.html"/>
    </logging>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>

</phpunit>
